    @import '~@angular/material/theming';
    // Plus imports for other components in your app.

    // Include the common styles for Angular Material. We include this here so that you only
    // have to load a single css file for Angular Material in your app.
    // Be sure that you only ever include this mixin once!
    @include mat-core();

    // Define the palettes for your theme using the Material Design palettes available in palette.scss
    // (imported above). For each palette, you can optionally specify a default, lighter, and darker
    // hue. Available color palettes: https://material.io/design/color/
    $my-app-primary: mat-palette($mat-orange,950); 
    $my-app-accent:  mat-palette($mat-orange,950);
    


    // Create the theme object (a Sass map containing all of the palettes).
    $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-app-theme);

/*
.alternate-teal-theme {
    $teal-app-primary: mat-palette($mat-teal); 
    $teal-app-accent:  mat-palette($mat-yellow);

    // The warn palette is optional (defaults to red).
    $teal-app-warn:    mat-palette($mat-red);

    // Create the theme object (a Sass map containing all of the palettes).
    $teal-app-theme: mat-light-theme($teal-app-primary, $teal-app-accent, $teal-app-warn);

    // Include theme styles for core and each component used in your app.
    // Alternatively, you can import and @include the theme mixins for each component
    // that you are using.
    @include angular-material-theme($teal-app-theme);
}
*/
.accent-color {
    color:white !important;
  }


.deep-orange{
    $orange-primary: mat-palette($mat-orange,950);
    $orange-accent: mat-palette($mat-orange,950);
    $orange-theme: mat-light-theme($orange-primary, $orange-accent);
    @include angular-material-theme($orange-theme);


    .accent-color {
        color:white !important;
      }

}


.orange-white {
    $orange-primary: mat-palette($mat-orange,350);
    $orange-accent: mat-palette($mat-orange,350);
    $orange-theme: mat-light-theme($orange-primary, $orange-accent);
    @include angular-material-theme($orange-theme);

    .accent-color {
        color: #580b0b !important;
      }
}

.pink {
    $pink-primary: mat-palette($mat-pink,150);
    $pink-accent: mat-palette($mat-pink,150);
    $pink-theme: mat-light-theme($pink-primary, $pink-accent);
    @include angular-material-theme($pink-theme);

    .accent-color {
        color:green !important;
      }
 }
 
 .deep-green {
    $deep-green-primary: mat-palette($mat-green,550);
    $deep-green-secondary: mat-palette($mat-green,550);
    $deep-green: mat-light-theme( $deep-green-primary, $deep-green-secondary);
    @include angular-material-theme($deep-green);

    .accent-color {
        color:#462663 !important
      }
 }
 
  
 .deep-green-olive {
    $deep-green-primary: mat-palette($mat-green,350);
    $deep-green-secondary: mat-palette($mat-green, 350);
    $deep-green: mat-light-theme( $deep-green-primary, $deep-green-secondary);
    @include angular-material-theme($deep-green);
    .accent-color {
        color:#1e3177 !important;
      }
 }

 